body {
  margin: 0;
  font-family: 'Segoe UI';
  background: #f7f7f5;
}

/* NAV */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: white;
  position: sticky;
  top: 0;
}

nav a {
  margin-left: 20px;
  color: #333;
  text-decoration: none;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 40px;
}

.hero h1 {
  font-size: 50px;
}

.hero p {
  margin: 20px 0;
}

.hero button {
  background: #2f4f4f;
  color: white;
  padding: 14px 32px;
  border-radius: 30px;
  border: none;
}

.hero-img {
  width: 350px;
  border-radius: 20px;
}

/* PRODUCTS */
#products {
  padding: 60px 20px;
  text-align: center;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.product {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 220px;
  transition: 0.3s;
}

.product:hover {
  transform: translateY(-5px);
}

.product img {
  width: 100%;
}

.product button {
  background: black;
  color: white;
  padding: 10px;
  width: 100%;
}

/* CART */
.cart {
  position: fixed;
  right: -320px;
  top: 0;
  width: 320px;
  height: 100%;
  background: white;
  padding: 20px;
  transition: 0.3s;
}

.cart.active {
  right: 0;
}

.checkout {
  background: green;
  color: white;
  padding: 12px;
  width: 100%;
}

/* MOBILE */
@media(max-width:768px){
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-img {
    margin-top: 20px;
    width: 90%;
  }
}